<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>食品</string>
		<key>image</key>
		<string>icon_homepage_takeoutCategory.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>服务</string>
		<key>image</key>
		<string>icon_homepage_default.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>酒店</string>
		<key>image</key>
		<string>icon_homepage_hotelCategory.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>休闲</string>
		<key>image</key>
		<string>icon_homepage_movieCategory.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>爱心</string>
		<key>image</key>
		<string>icon_homepage_lifeServiceCategory.png</string>
	</dict>
</array>
</plist>
